<h1 class="mb-4">Utilisateur n°<%= @user.id %></h1>

<div class="fs-6 text-start" style="">

    <p class="">Prénom: <span class="fw-bold"><%= @user.first_name %></span></p>
    <p class="">Nom de famille: <span class="fw-bold"><%= @user.last_name %></span></p>
    <p class="">Description: <span class="fw-bold"><%= @user.description %></span></p>
    <p class="">Email: <span class="fw-bold"><%= @user.email %></span></p>
    <p class="">Inscrit depuis le: <span class="fw-bold"><%= @user.created_at %></span> </p>
</div>